{
	"openapi": "3.0.2",
	"info": {
		"title": "Kittens API",
		"version": "1.0",
		"license": {
			"name": "GNU GPLv3",
			"url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
		},
		"description": "An API to buy, sell and manage Kittens."
	},
	"servers": [
		{
			"url": "https://api.kittens.robaldo.dev/"
		}
	],
	"paths": {
		"/api/v1/users": {
			"get": {
				"description": "List users without private information",
				"responses": {
					"200": {
						"description": "A list of all users",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/User"
									}
								}
							}
						}
					}
				}
			}
		},
		"/": {
			"get": {
				"description": "Get one or all cats",
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "The Cat's Database ID",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Found matching Cat relative to ID or all cats if no ID was provided",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/CatWithId"
											}
										},
										{
											"$ref": "#/components/schemas/CatWithId"
										}
									]
								}
							}
						}
					}
				}
			},
			"post": {
				"description": "Create a new Cat",
				"parameters": [
					{
						"in": "header",
						"name": "content-type",
						"description": "Request Content Type",
						"required": true,
						"schema": {
							"type": "string",
							"enum": ["application/json"]
                        },
						"example": "application/json"
					}
				],
				"requestBody": {
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Cat"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Accepted new cat"
					}
				}
			},
			"put": {
				"description": "Update a Cat",
				"parameters": [
					{
						"in": "header",
						"name": "content-type",
						"description": "Request Content Type",
						"required": true,
						"schema": {
							"type": "string",
							"enum": ["application/json"]
						},
						"example": "application/json"
					}
				],
				"requestBody": {
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CatWithId"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Accepted modifications to cat"
					}
				}
			},
			"delete": {
				"description": "Delete a Cat",
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "The Cat's Database ID",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Deleted cat"
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"User": {
				"properties": {
					"uid": {
						"type": "string",
						"description": "The user's Unique ID",
						"example": "ffffffff-ffff-ffff-ffff-ffffffffffff"
					},
					"username": {
						"type": "string",
						"description": "The user's username. ",
						"example": "Bob"
					},
					"image": {
						"type": "string",
						"description": "The user's profile picture in base64 format.",
						"example": "base64 ........"
					},
					"imageMime": {
						"type": "string",
						"enum": ["image/jpeg", "image/png", "image/gif"],
						"description": "The user's profile picture mime type",
						"example": "image/gif"
					},
					"description": {
						"type": "string",
						"description": "The user's description. Can be empty",
						"example": "I'm bob and i love cats. I live in catworld and have 2^64 cats in my house. Their names are the fibonacci sequence. Except cat number 42 whose name is Megatron."
					},
					"pronouns": {
						"type": "string",
						"description": "The user's pronouns, can be empty.",
						"example": "hee/hee"
					},
					"cats": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Cat"
						}
					},
					"wishlist": {
						"type": "array",
						"description": "The user's wishlisted cats UIDs. Can be empty.",
						"items": {
							"type": "string",
							"example": "ffffffff-ffff-ffff-ffff-ffffffffffff"
						}
					}

				}
			},
			"CatWithId": {
				"type": "object",
				"properties": {
					"descr": {
						"type": "string",
						"example": "the father"
					},
					"id": {
						"type": "integer",
						"example": 1
					},
					"value": {
						"type": "integer",
						"example": 1000
					}
				},
				"example": {
					"descr": "the father",
					"id": 1,
					"value": 1000
				}
			},
			"Cat": {
				"type": "object",
				"properties": {
					"descr": {
						"type": "string",
						"example": "the father"
					},
					"value": {
						"type": "integer",
						"example": 1000
					}
				},
				"example": {
					"descr": "the father",
					"value": 1000
				}
			}
		}
	}
}
